<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Page1</title>
</head>
<body>

    <header>
       
        <nav>
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
               </label>
               <input type="checkbox" id="check">
               <div class="Menu-link2" >
                
                    <a href="home.html">Home</a>
                    <a href="Reclamation.html">Réclamation</a>
                    <a class="contact">Contact</a>
                    <a class="active question" >Questionnaire</a>
            </div>
            <div class="Logo"> <img src="img/question/img.png" class="Logo"></div>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="Reclamation.html">Réclamation</a></li>
                <li class="contact" id="contact"><a>Contact</a></li>
                <li class="active question" id="Questionnaire" ><a>Questionnaire</a></li>
            </ul>
            <div>
                <img src="img/question/Icon open-account-login.png" class="deconnecter">
            </div>
        </nav>
       <div class="Titre">

        <div><h1>Bienvenue à l'Agence</h1></div>
        <div><h1>Urbaine de <span>Safi</span></h1></div>
        <button>Plus d'info</button>
       </div>
    </header>

    <!-- Liste des Entreprises -->

    <div class="container mt-40">
        <h2 class="text-center">Entreprises</h2>
        <section class="row mt-30">
            <%for(var i of entreprise){%>
            <div class="col-sm-12 col-md-4">
                    <div class="box20 blue">
                    <img src="img/3.jpg" alt="OCP">
                        <h3 class="title" id="title"><%=i.nom%></h3>
                        <div id="dep">
                            <%for(var j of i.Département){%>
                                <div class="childs" id="child1">
                                   <h1> ID : <span> <%=j.id%> </span></h1> 
                                   <p> Chef Département : <span> <%=j.chef_département%> </span></p>
                                   <p> description : <span> <%=j.description%> </span></p> 
                                </div>
                                <%}%>
                                <p><a type="button" class="button" href="#" data-toggle="modal" data-target="#mymodal" id="modletarggete" onclick="document.getElementById('h3h').value='<%=i.nom%>'" > Add departement </a></p>
                            </div>
                    </div>
            </div>
                <%}%>
        </section>
        <div id="dbutton"><button class="btn btn-primary"  id="info"> Show departement </button></div>
    </div>
    <div class="blank"></div>
    
    <div class="blank"></div>
            <div class="modal fade" id="mymodal">
                <div class="modal-dialog modal-lg">
                 <div class="modal-content">
                    <div class="modal-header">
                        <h1 id='h1h'></h1>
                    </div>
                    <div class="modal-Body">
                        <div class="child" id="émdiv">
                        <form action="/d" method="POST">
                            <input type="text" id="h3h" name="entreprise" placeholder="enteprise"><br>
                            <input type="text" name="chef_département" placeholder="chef_département">* <br>
                            <input type="text" name="description" placeholder="description">* <br>
                            <button id="dd1" class="btn btn-info" onclick="this.style.backgroundColor='green'"> Add departement</button>
                          </form>
                          </div>
                        <!-- <ul class="flexible">
                            <li class="flexible1">
                                <a href="#" class="linked">la fonction direction et administration générale</a> 
                            </li>
                            <li class="flexible1">
                                <a href="#" class="linked">La fonction achat</a> 
                            </li>
                            <li class="flexible1">
                                <a href="#" class="linked">La fonction finance et comptabilité</a> 
                            </li>
                            <li class="flexible1">
                                <a href="#" class="linked">La fonction marketing et commerciale</a> 
                            </li>
                        </ul> -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-success">Add</button> -->
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="blank-div"></div>
            <div style="text-align: center;"><button type="button"  id="company" class="btn btn-primary" id="fixed">Add Entreprise</button></div>
            <div class="blank-div"></div>
            <div id="company-new">
            <form action="/entre" method="POST">
                <input type="text" placeholder="company name" name="nom" id="inputs-size"><br>
                <span>*required</span><br>
                <input type="text" placeholder="company location" name="locals" id="inputs-size"><br>
                <span>*required</span><br>
                <textarea  id="inputs-size" name="descriptions" placeholder="company description"></textarea><br>
                <span>*required</span><br>
                <h2> Département</h2>
                <input type="number" name="id" placeholder="id" id="inputs-size">*<br>
                <input type="text" name="chef_département" placeholder="chef_département" id="inputs-size">* <br>
                <input type="text" name="description" placeholder="description" id="inputs-size">* <br>
                <button id="btn-company">create new company</button>
              </form>
            </div>
            <div class="blank-div"></div>
    </div>
    <div class="blank-div"></div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="./javascript/page1.js">
        </script>
</body>
<footer >
    <div class="container ftr">
        <div class="row text-center">
            <ul class="d-flex col-md-12  ">
                <li ><a>Condition Générales d'Utitlisation </a></li>
                <li><a>Appels d'offres </a></li>
                <li><a>Recrutement </a></li>
                <li><a>Bilans & Statistiques </a></li>
            </ul>
            <ul class="d-flex col-md-12  ">
                <li><i class="fab fa-facebook-f"></i>
                </li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fas fa-rss"></i></li>
            </ul>
            <div class="col-md-12" >© 2016 - Agence Urbaine SAFI-YOUSSOUFIA - Tous droits réservés | Conception et réalisation : Social Impulse</div>
        </div>

    </div>

</footer>
</html>